{% extends "_form_menu_base.html.twig" %}

{% block title %}{{ "deregister.title"|trans }}{% endblock %}
{% block description %}{{ "deregister.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}

{% block form_content %}
    <p class="alert alert-danger">
        {{ "deregister.confirm_consequences"|trans }}
    </p>

    <p>
        <a class="btn btn-danger" href="{{ path("event_deregister", {"registration": registration.id, "event": event.id, "confirm": "confirm"}) }}">
            {{ "deregister.title"|trans }}
        </a>
    </p>
{% endblock %}
