{% extends "_menu_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <h1>{{ "entity.plural"|trans({}, "entity_registration") }}</h1>
    <p>{{ "index.registrations_help"|trans }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>{{ "event"|trans({}, "entity_registration") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
            <tr>
                <td>hi</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>

{% endblock %}
