{% import _self as own_macros %}

{% extends "_menu_base.html.twig" %}

{% import "_macros/entity_macros.html.twig" as entity_macros %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <div class="content">
        <p>
            <a class="btn btn-primary" href="{{ path("event_create") }}">
                <i class="fal fa-plus"></i>
                {{ "create.title"|trans({}, "event") }}
            </a>
        </p>
    </div>
    {% if upcoming_registrations|length == 0 and past_registrations|length == 0 %}
        <div class="content">
            <p class="alert alert-info">{{ "index.no_events_yet"|trans }}</p>
        </div>
    {% else %}
        {% if upcoming_registrations|length > 0 %}
            <div class="content mt-5">
                <h2>{{ "index.upcoming_events"|trans }}</h2>
            </div>

            <div class="masonry-grid">
                <div class="masonry-grid-sizer"></div>
                {% for registration in upcoming_registrations %}
                    <div class="masonry-grid-item">
                        <div class="content tile">

                            {{ entity_macros.display_event(registration.event, "h3") }}

                            <p>
                                {% if registration.isOrganizer %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ path("event_view", {"event" : registration.event.id}) }}">
                                        {{ "index.manage_event"|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path("register", {"identifier" : registration.event.identifier}) }}">
                                        {{ "index.view_registration"|trans }}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if past_registrations|length > 0 %}
            <h2 class="mt-5">{{ "index.past_events"|trans }}</h2>
            <table class="table content tile">
                <thead>
                <tr>
                    <th>{{ "name"|trans({}, "trait_event") }}</th>
                    <th>{{ "start_date"|trans({}, "trait_event") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for registration in past_registrations %}
                    <tr>
                        <td>{{ registration.event.name }}</td>
                        <td>{{ registration.event.startDate|dateTimeFormat }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

{% endblock %}
