{% extends "_menu_base.html.twig" %}

{% import "_macros/entity_macros.html.twig" as entity_macros %}

{% block title %}{{ event.organizer }} - {{ event.name }}{% endblock %}
{% block description %}{{ "register.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <section class="center-wrapper mt-4">
        <div class="center-content wide">

            {{ entity_macros.display_event(event) }}

            <hr/>
            {% if event.getRegistrationOpen or event.registrationClose or event.maximumAttendeeCapacity %}
                <p>
                    {% if event.getRegistrationOpen %}
                        {{ "register.registration_restrictions.open"|trans }}: {{ event.getRegistrationOpen|dateTimeFormat }}
                        <br/>
                    {% endif %}
                    {% if event.registrationClose %}
                        {{ "register.registration_restrictions.close"|trans }}: {{ event.registrationClose|dateTimeFormat }}
                        <br/>
                    {% endif %}
                    {% if event.maximumAttendeeCapacity %}
                        {{ "register.registration_restrictions.seats_available"|trans }}: {{ event.placesLeft }}
                    {% endif %}
                </p>
            {% endif %}

            {% if existing_registration is not null %}
                <p class="alert alert-success">
                    {{ "register.already_registered"|trans }}
                </p>
                {% if existing_registration.canDeregister %}
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-secondary"
                           href="{{ path("registration_update", {"registration": existing_registration.id}) }}">
                            {{ "update.title"|trans({}, "registration") }}
                        </a>
                        <a type="button" class="btn btn-danger"
                           href="{{ path("registration_delete", {"registration": existing_registration.id}) }}">
                            {{ "delete.title"|trans({}, "registration") }}
                        </a>
                    </div>
                {% endif %}
            {% elseif event.registrationPossible %}
                {{ form(form) }}
            {% else %}
                <p class="alert alert-danger">
                    {% if event.participantRegistrations|length >= event.maximumAttendeeCapacity %}
                        {{ "register.impossible_reasons.event_full"|trans }}
                    {% elseif event.beforeRegistrationPeriod %}
                        {{ "register.impossible_reasons.before_registration_period"|trans }}
                    {% elseif event.afterRegistrationPeriod %}
                        {{ "register.impossible_reasons.after_registration_period"|trans }}
                    {% else %}
                        {{ "register.impossible_reasons.event_over"|trans }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </section>

{% endblock %}
